.hero {
  padding-top: 66px;
  padding-bottom: 313px;

  background-image: url(../images/header-img.png);
  background-size: 687px, 654px;
  background-repeat: no-repeat;
  background-position: 808px, 33px;

  .wrapper-flex {
    display: flex;
    width: 50%;
  }

  .dark-btn {
    width: 180px;
  }
}

.hero-title {
  margin-bottom: 74px;
  font-family: $title-font;

  @include fontData(700, 64px, 1.25);
  color: $hero-title-color;
}

.form-title {
  margin-bottom: 71px;
  @include fontData(600, 22px, 1.23);

  color: $hero-title-color;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 47px;

  .form-field {
    margin-right: 30px;
    margin-bottom: 35px;

    width: 220px;
    height: 52px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }

    .form-input {
      width: 100%;
      height: 100%;
      border: 0.8px solid #afb0b9;
      border-radius: 6px;
      outline: none;
    }
  }
}
