$main-font: 'Inter', sans-serif;
$title-font: 'Playfair Display', serif;
$accent-color: #fb8f1d;
$hero-title-color: #202336;
$text-color: #4a4c53;
$nav-color: #b8becd;
$white-text-color: #ffffff;
$section-title-color: #000000;
$section-description-color: #7d7987;
$footer-text-color: #848484;
$background-main-color: #ffffff;
$background-footer-color: #f9f9fb;

// inter normal, 500, 600, bold,

// title-font: Playfair Display bold,

// Muli bold, 300, normal,

// font-family: 'Inter', sans-serif;
// font-family: 'Playfair Display', serif;
